Creating a database connection

In [ ]:
import sqlite3
con= sqlite3.connect('name database')
#close database
con.close()

If we want the created database to not be on disk and be on RAM

In [6]:
import sqlite3
con = sqlite3.connect(':memory:')
con.close()

To execute SQLite statements in Python, you need a cursor object. You can create it using the cursor() method.

In [8]:
import sqlite3
con = sqlite3.connect('mydatabase.db')
cursorObj = con.cursor()

Create Table

In [ ]:
import sqlite3
def sqll_conector(path):
    con = sqlite3.connect(path)
    cur = con.cursor()
    return con,cur
#The commit() method saves all the changes we make.
#The execute() method is used to run any SQL query.
def create_table(con,cur):
    cur.execute("CREATE TABLE IF NOT EXISTS employees(id integer PRIMARY KEY, name TEXT, salary REAL, department TEXT, position TEXT, hireDate TEXT)")
    con.commit()
create_table(con,cur)

To insert data into a table, we use the INSERT INTO statement. Consider the following line of code:

In [ ]:
import sqlite3

con = sqlite3.connect('mydatabase.db')

def sql_insert(con):

    cursorObj = con.cursor()
    
    cursorObj.execute("INSERT INTO employees VALUES(1, 'John', 700, 'HR', 'Manager', '2017-01-04')")
    
    con.commit()
sql_insert(can)

We can also pass values/arguments using the INSERT method in the execute() method. You can use a question mark (?) as a placeholder for each value. The INSERT syntax will be as follows:

In [ ]:
import sqlite3

con = sqlite3.connect('mydatabase.db')

def sql_insert(con, entities):

    cursorObj = con.cursor()
    
    cursorObj.execute('INSERT INTO employees(id, name, salary, department, position, hireDate) VALUES(?, ?, ?, ?, ?, ?)', entities)
    
    con.commit()

entities = (2, 'Andrew', 800, 'IT', 'Tech', '2018-02-06')
sql_insert(con, entities)

To update a table, simply create a connection, then using the connection, create a cursor, and finally use the UPDATE statement in the execute() method. Suppose we want to update the name of an employee whose ID is equal to 2. We will use the UPDATE statement and for the employee whose ID is equal to, we will use the WHERE clause as a condition to select that employee. The SQL code snippet would be as follows:

In [ ]:
import sqlite3

con = sqlite3.connect('mydatabase.db')

def sql_update(con):

    cursorObj = con.cursor()

    cursorObj.execute('UPDATE employees SET name = "Rogers" where id = 2')

    con.commit()

sql_update(con)

Select statement

In [ ]:
#Using SELECT to select data from a specific table, you can use the select statement. If you want to select all data columns from a table, you can use the asterisk (*). The syntax for this is as follows:
#If we want to select multiple elements
import sqlite3

con = sqlite3.connect('mydatabase.db')

def sql_fetch(con):

    cursorObj = con.cursor()

    cursorObj.execute('SELECT * FROM employees')

    rows = cursorObj.fetchall()

    for row in rows:

        print(row)

sql_fetch(con)

If we want to find and close the first required element received by the method

In [ ]:
import sqlite3

con = sqlite3.connect('mydatabase.db')

def sql_fetch(con):

    cursorObj = con.cursor()

    cursorObj.execute('SELECT * FROM employees')

    rows = cursorObj.fetchone()

    for row in rows:

        print(row)

sql_fetch(con)

Executemany (Bulk insert)

In [ ]:
#You can use the executemany command to insert multiple rows simultaneously.
import sqlite3

con = sqlite3.connect('mydatabase.db')

cursorObj = con.cursor()

cursorObj.execute('create table if not exists projects(id integer, name text)')

data = [(1, "Ridesharing"), (2, "Water Purifying"), (3, "Forensics"), (4, "Botany")]

cursorObj.executemany("INSERT INTO projects VALUES(?, ?)", data)

con.commit()

SQLite3 exceptions

DatabaseError
هرگونه خطا در ارتباط با پایگاه داده باعث ایجاد DatabaseError می شود.

IntegrityError
IntegrityError یکی از زیر گروه های DatabaseError است و در صورت بروز یکپارچگی داده ها مطرح می شود. به عنوان مثال ، داده های خارجی در همه جداول به روز نمی شوند که منجر به ناسازگاری داده ها می شود.

ProgrammingError
استثنای ProgrammingError وقتی خطاهای نحوی وجود دارد یا جدول پیدا نشده است یا عملکرد با تعداد نامناسب پارامترها / آرگومان ها فراخوانی می شود ، افزایش می یابد.

OperationalError
این استثنا هنگامی مطرح می شود که عملیات پایگاه داده از کار افتاده باشد ، به عنوان مثال قطع اتصال غیرمعمول. این تقصیر برنامه نویسان نیست.

NotSupportedError
وقتی از برخی از روش هایی استفاده می کنید که توسط پایگاه داده تعریف نشده یا پشتیبانی نمی شوند ، این امر باعث افزایش استثنا exception NotSupportedError می شود.